@{
    Layout = "~/Views/Shared/WebsiteLayout.cshtml";
}
<div class="page-title" style="background:#f4f4f4 url(../../../../webAssets/img/slider-1.jpg);" data-overlay="5">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-md-12">

                <div class="breadcrumbs-wrap position-relative z-1">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item active" aria-current="page">Explore By Location</li>
                    </ol>
                    <h2 class="breadcrumb-title">Explore By Location</h2>
                </div>

            </div>
        </div>
    </div>
</div>
<section>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-7 col-md-8">
                <div class="sec-heading center">
                    <h2>Explore By Location</h2>
                    <p>
                        Discover prime properties in desirable locations with ease. Explore our curated listings for your ideal home or investment opportunity.
                    </p>
                </div>
            </div>
        </div>

        <div class="row justify-content-center g-4">

            <!-- Single Location -->
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="#!" class="img-wrap style-2">
                    <div class="location_wrap_content visible">
                        <div class="location_wrap_content_first">
                            <h4>Lucknow</h4>
                        </div>
                    </div>
                    <div class="img-wrap-background" style="background-image: url(../../../../webAssets/img/city01.jpg);">
                    </div>
                </a>
            </div>

            <!-- Single Location -->
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="#!" class="img-wrap style-2">
                    <div class="location_wrap_content visible">
                        <div class="location_wrap_content_first">
                            <h4>Lucknow</h4>
                        </div>
                    </div>
                    <div class="img-wrap-background" style="background-image: url(../../webAssets//img/city02.jpg);">
                    </div>
                </a>
            </div>

            <!-- Single Location -->
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="#!" class="img-wrap style-2">
                    <div class="location_wrap_content visible">
                        <div class="location_wrap_content_first">
                            <h4>Lucknow</h4>
                        </div>
                    </div>
                    <div class="img-wrap-background" style="background-image: url(../../webAssets/img/city03.jpg);">
                    </div>
                </a>
            </div>

            <!-- Single Location -->
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="#!" class="img-wrap style-2">
                    <div class="location_wrap_content visible">
                        <div class="location_wrap_content_first">
                            <h4>Lucknow</h4>
                        </div>
                    </div>
                    <div class="img-wrap-background" style="background-image: url(../../webAssets/img/city04.jpg);">
                    </div>
                </a>
            </div>

            <!-- Single Location -->
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="#!" class="img-wrap style-2">
                    <div class="location_wrap_content visible">
                        <div class="location_wrap_content_first">
                            <h4>Lucknow</h4>
                        </div>
                    </div>
                    <div class="img-wrap-background" style="background-image: url(../../webAssets/img/city05.jpg);">
                    </div>
                </a>
            </div>

            <!-- Single Location -->
            <div class="col-lg-4 col-md-4 col-sm-6">
                <a href="#!" class="img-wrap style-2">
                    <div class="location_wrap_content visible">
                        <div class="location_wrap_content_first">
                            <h4>Lucknow</h4>
                        </div>
                    </div>
                    <div class="img-wrap-background" style="background-image: url(../../webAssets/img/city06.jpg);">
                    </div>
                </a>
            </div>

        </div>

    </div>
</section>